@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* font-family (stack):Poppins ,sans-serif; */
    /* overflow-x: hidden; */
}

.page1{
    /* border: 1px solid snow; */
    background-color: black;
    height: 100vh;
    width: 100%;
}

.page1 .nav{
    /* border: 1px solid snow; */
    height: 10%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:fixed;
    z-index: +999;
}

.nav .logo{
    /* border: 1px solid red; */
    height: 100%;
    width: 5%;
    background: url(../images/1logo.png) no-repeat;
    background-size: cover;
}

.nav ul{
    /* border: 1px solid snow; */
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    /* display: block; */
}

.nav ul span{
    color: palevioletred;
}

.nav ul li a{
    text-decoration: none;
    color: snow;
}

ul li a:hover{
    color: palevioletred;
    transition: 0.5s;

}

.nav .icon{
    /* border: 1px solid gold; */
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    color: snow;
    font-size: 1.5rem;
}
.icon .bar{
    visibility: hidden;
}
.search:hover{
    color: palevioletred;
    transition: 0.5s;
}

.user:hover{
    color: palevioletred;
    transition: 0.5s;
}

.bar:hover{
    color: palevioletred;
    transition: 0.5s;
}

.page1 .container6{
    /* border: 5px solid snow; */
    height: 100%;
    width: 100%;
    display: flex;

}

.container6 video{
    width: 100%;
    /* border: 2px solid rgb(224, 29, 29); */
    object-fit: cover;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container6 h1{
     /* border: 2px solid rgb(224, 29, 29); */
    color: rgb(255, 255, 255);
    position: absolute;
    top: 300px;
    left: 350px;
    font-size: 3rem;
}

.container6 h3{
    color: snow;
    position: absolute;
    top: 400px;
    left: 550px;
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
}

/* tab */

@media all and (max-width:768px) {

    .page1 {
        width: 100%;
        height: 40vh;
    }

    .page1 .nav {
        /* border: 1px solid snow; */
        height: 6%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        z-index: +999;
    }

    .nav .logo {
        /* border: 1px solid snow; */
        height: 100%;
        width: 7%;
        margin-top: -8px;
        margin-left: 10px;
    }

    .nav ul {
        /* border: 1px solid snow; */
        width: 80%;
    }

    .nav .icon {
        /* border: 1px solid snow; */
        width: 15%;
    }

    .container6 h1{
        /* border: 2px solid rgb(224, 29, 29); */
       color: rgb(255, 255, 255);
       position: absolute;
       top: 150px;
       left: 100px;
       font-size: 2rem;
   }

   .container6 h3{
    /* border: 2px solid rgb(224, 29, 29); */
    color: snow;
    position: absolute;
    top: 200px;
    left: 220px;
    font-size: 1.5rem;
    font-family: "Dancing Script", cursive;
}

}


/* Mobile */
@media all and (max-width:667px) {

    .page1 {
        width: 100%;
        height: 30vh;
    }

    .page1 .nav{
        height: 5vh;
    }

    .nav .logo {
        /* border: 1px solid snow; */
        height: 100%;
        width: 9%;
    }

    .nav ul {
        /* border: 1px solid snow; */
        width: 60%;
        font-size: 0.5rem;
        visibility: hidden;
    }

    .nav .icon {
        width: 25%;
        font-size: 0.8rem;
        visibility: hidden;
    }

    .icon .bar{
        visibility: visible;
    }

    .container6 h1{
        /* border: 2px solid rgb(224, 29, 29); */
       color: rgb(255, 255, 255);
       position: absolute;
       top: 80px;
       left: 50px;
       font-size: 1rem;
   }

   .container6 h3{
    /* border: 2px solid rgb(224, 29, 29); */
    color: snow;
    position: absolute;
    top: 120px;
    left: 130px;
    font-size: 0.5rem;
    font-family: "Dancing Script", cursive;
}

}

/* .page2 */

.page2{
    /* border: 1px solid snow; */
    height: 80vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.page2 .container1{
    /* border: 1px solid snow; */
    width: 100%;
    height: 90%;
    background: url(https://omdia.tech.informa.com/-/media/tech/omdia/marketing/pr/2021-dec/vr_stockimage.png?rev=fe6abbf32ced4abbb1421b7bbc0c3cbb) no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container1 .smallcontainer{
    /* border: 2px solid; */
    height: 90%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
}

.smallcontainer h2{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: -250px;
}

.smallcontainer p{
    width: 90%;
    text-align: justify;
    margin-top: 70px;
}

.smallcontainer .button{
    /* border: 1px solid; */
    height: 8%;
    width: 25%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.button h3{
    color: black;
    text-transform: capitalize;
}

.smallcontainer .button:hover{
    background-color: palevioletred;
    transition: 0.5s;
}

.button h3:hover{
    color: snow;
    transition: 0.5s;
}

/* tab */

@media all and (max-width:768px){
    
.page2{
    /* border: 1px solid snow; */
    height: 50vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.page2 .container1{
    /* border: 1px solid snow; */
    width: 100%;
    height: 90%;
    background: url(https://omdia.tech.informa.com/-/media/tech/omdia/marketing/pr/2021-dec/vr_stockimage.png?rev=fe6abbf32ced4abbb1421b7bbc0c3cbb) no-repeat ;
    background-size: cover;
}

.container1 .smallcontainer{
    /* border: 2px solid; */
    height: 90%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
}

.smallcontainer h2{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: -100px;
}

.smallcontainer p{
    width: 90%;
    text-align: justify;
    margin-top: 10px;
    font-size: 0.9rem;
}

.smallcontainer .button{
    /* border: 1px solid; */
    height: 8%;
    width: 40%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.button h3{
    color: black;
    text-transform: capitalize;
}
}

/* Mobile */
@media all and (max-width:667px){
        
.page2{
    /* border: 1px solid snow; */
    height: 40vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.page2 .container1{
    /* border: 1px solid snow; */
    width: 100%;
    height: 90%;
    background: url(https://omdia.tech.informa.com/-/media/tech/omdia/marketing/pr/2021-dec/vr_stockimage.png?rev=fe6abbf32ced4abbb1421b7bbc0c3cbb) no-repeat ;
    background-size: cover;
}

.container1 .smallcontainer{
    /* border: 2px solid; */
    height: 90%;
    width: 55%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    
}

.smallcontainer h2{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-left: -30px;
}

.smallcontainer p{
    width: 90%;
    text-align: justify;
    margin-top: 5px;
    font-size: 0.5rem;
}

.smallcontainer .button{
    /* border: 1px solid; */
    height: 8%;
    width: 40%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.button h3{
    color: black;
    text-transform: capitalize;
    font-size: 0.7rem;
}
}

/* page3  */

.page3{
    /* border: 1px solid snow; */
    height: 80vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.page3 .container2{
    /* border: 1px solid snow; */
    width: 100%;
    height: 90%;
    background: url(https://static.vecteezy.com/system/resources/previews/042/195/211/non_2x/ai-generated-racing-game-background-free-photo.jpg) no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container2 .smallcontainer1{
    /* border: 2px solid; */
    height: 90%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.smallcontainer1 h2{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: -120px;
}

.smallcontainer1 p{
    width: 90%;
    text-align: justify;
    margin-top: 30px;
}

.smallcontainer1 .button{
    /* border: 1px solid; */
    height: 8%;
    width: 25%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.button h3{
    color: black;
    text-transform: capitalize;
}

.smallcontainer1 .button:hover{
    background-color: palevioletred;
    transition: 0.5s;
}

.button h3:hover{
    color: snow;
    transition: 0.5s;
}

/* tab */

@media all and (max-width:768px){
    
    .page3{
        /* border: 1px solid snow; */
        height: 50vh;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }
    
    .page3 .container2{
        /* border: 1px solid snow; */
        width: 100%;
        height: 90%;
        background: url(https://static.vecteezy.com/system/resources/previews/042/195/211/non_2x/ai-generated-racing-game-background-free-photo.jpg) no-repeat ;
        background-size: cover;
    }
    
    .container2 .smallcontainer1{
        /* border: 2px solid; */
        height: 90%;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }
    
    .smallcontainer1 h2{
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 1.5rem;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .smallcontainer1 p{
        width: 90%;
        text-align: justify;
        margin-top: 10px;
        font-size: 0.8rem;
    }
    
    .smallcontainer1 .button{
        /* border: 1px solid; */
        height: 8%;
        width: 40%;
        margin-top: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
    }
    
    .button h3{
        color: black;
        text-transform: capitalize;
    }
    }

    /* Mobile */
@media all and (max-width:667px){
    .page3{
        /* border: 1px solid snow; */
        height: 40vh;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }
    
    .page3 .container2{
        /* border: 1px solid snow; */
        width: 100%;
        height: 90%;
        background: url(https://static.vecteezy.com/system/resources/previews/042/195/211/non_2x/ai-generated-racing-game-background-free-photo.jpg) no-repeat ;
        background-size: cover;
    }
    
    .container2 .smallcontainer1{
        /* border: 2px solid; */
        height: 90%;
        width: 55%;
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    
    .smallcontainer1 h2{
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 0.6rem;
        margin-top: 20px;
        margin-left: 0px;
    }
    
    .smallcontainer1 p{
        width: 90%;
        text-align: justify;
        margin-top: 10px;
        font-size: 0.4rem;
    }
    
    .smallcontainer1 .button{
        /* border: 1px solid; */
        height: 8%;
        width: 40%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
    }
    
    .button h3{
        color: black;
        text-transform: capitalize;
    }
}

/* page4  */

.page4{
    /* border: 1px solid snow; */
    height: 80vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.page4 .container3{
    /* border: 1px solid snow; */
    width: 100%;
    height: 90%;
    background: url(https://images4.alphacoders.com/168/168446.jpg) no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container3 .smallcontainer2{
    /* border: 2px solid; */
    height: 90%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    border-radius: 20px;
}

.smallcontainer2 h2{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: -200px;
}

.smallcontainer2 p{
    width: 90%;
    text-align: justify;
    margin-top: 30px;
}

.smallcontainer2 .button{
    /* border: 1px solid; */
    height: 8%;
    width: 25%;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.button h3{
    color: black;
    text-transform: capitalize;
}

.smallcontainer2 .button:hover{
    background-color: palevioletred;
    transition: 0.5s;
}

.button h3:hover{
    color: snow;
    transition: 0.5s;
}


/* tab */

@media all and (max-width:768px){
    
    .page4{
        /* border: 1px solid snow; */
        height: 50vh;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }
    
    .page4 .container3{
        /* border: 1px solid snow; */
        width: 100%;
        height: 90%;
        background: url(https://images4.alphacoders.com/168/168446.jpg) no-repeat ;
        background-size: cover;
    }
    
    .container3 .smallcontainer2{
        /* border: 2px solid; */
        height: 90%;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        
    }
    
    .smallcontainer2 h2{
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 1.5rem;
        margin-top: 10px;
        margin-left: -50px;
    }
    
    .smallcontainer2 p{
        width: 90%;
        text-align: justify;
        margin-top: 10px;
        font-size: 0.8rem;
    }
    
    .smallcontainer2 .button{
        /* border: 1px solid; */
        height: 8%;
        width: 40%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
    }
    
    .button h3{
        color: black;
        text-transform: capitalize;
    }
    }
    
    /* Mobile */
    @media all and (max-width:667px){
            
    .page4{
        /* border: 1px solid snow; */
        height: 40vh;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }
    
    .page4 .container3{
        /* border: 1px solid snow; */
        width: 100%;
        height: 90%;
        background: url(https://images4.alphacoders.com/168/168446.jpg) no-repeat ;
        background-size: cover;
    }
    
    .container3 .smallcontainer2{
        /* border: 2px solid; */
        height: 90%;
        width: 55%;
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        
    }
    
    .smallcontainer2 h2{
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 0.7rem;
        margin-top: 10px;
        margin-left: -10px;
    }
    
    .smallcontainer2 p{
        width: 90%;
        text-align: justify;
        margin-top: 10px;
        font-size: 0.4rem;
    }
    
    .smallcontainer2 .button{
        /* border: 1px solid; */
        height: 8%;
        width: 40%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
    }
    
    .button h3{
        color: black;
        text-transform: capitalize;
        font-size: 0.7rem;
    }
    }

/* page5  */

.page5{
    /* border: 1px solid snow; */
    height: 80vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
}

.page5 .container4{
    /* border: 1px solid snow; */
    width: 100%;
    height: 90%;
    background: url(https://wallpapercat.com/w/full/7/1/2/1501740-3840x2160-desktop-4k-action-adventure-game-background-photo.jpg) no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;
}

.container4 .smallcontainer3{
    /* border: 2px solid; */
    height: 90%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 860px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.smallcontainer3 h2{
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 20px;
    margin-left: -200px;
}

.smallcontainer3 p{
    width: 90%;
    text-align: justify;
    margin-top: 30px;
}

.smallcontainer3 .button{
    /* border: 1px solid; */
    height: 8%;
    width: 25%;
    margin-top: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.button h3{
    color: black;
    text-transform: capitalize;
}

.smallcontainer3 .button:hover{
    background-color: palevioletred;
    transition: 0.5s;
}

.button h3:hover{
    color: snow;
    transition: 0.5s;
} 


/* tab */

@media all and (max-width:768px){
    
    .page5{
        /* border: 1px solid snow; */
        height: 50vh;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }
    
    .page5 .container4{
        /* border: 1px solid snow; */
        width: 100%;
        height: 90%;
        background: url(https://wallpapercat.com/w/full/7/1/2/1501740-3840x2160-desktop-4k-action-adventure-game-background-photo.jpg) no-repeat ;
        background-size: cover;
    }
    
    .container4 .smallcontainer3{
        /* border: 2px solid; */
        height: 90%;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
    }
    
    .smallcontainer3 h2{
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-left: -60px;
    }
    
    .smallcontainer3 p{
        width: 90%;
        text-align: justify;
        margin-top: 10px;
        font-size: 0.8rem;
    }
    
    .smallcontainer3 .button{
        /* border: 1px solid; */
        height: 8%;
        width: 40%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
    }
    
    .button h3{
        color: black;
        text-transform: capitalize;
    }
    }

    /* Mobile */
@media all and (max-width:667px){
    .page5{
        /* border: 1px solid snow; */
        height: 40vh;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
    }
    
    .page5 .container4{
        /* border: 1px solid snow; */
        width: 100%;
        height: 90%;
        background: url(https://wallpapercat.com/w/full/7/1/2/1501740-3840x2160-desktop-4k-action-adventure-game-background-photo.jpg) no-repeat ;
        background-size: cover;
    }
    
    .container4 .smallcontainer3{
        /* border: 2px solid; */
        height: 90%;
        width: 55%;
        background-color: rgba(255, 255, 255, 0.7);
        margin-left: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
    }
    
    .smallcontainer3 h2{
        text-transform: capitalize;
        letter-spacing: 2px;
        font-size: 0.6rem;
        margin-top: 20px;
        margin-left: -40px;
    }
    
    .smallcontainer3 p{
        width: 90%;
        text-align: justify;
        margin-top: 10px;
        font-size: 0.4rem;
    }
    
    .smallcontainer3 .button{
        /* border: 1px solid; */
        height: 8%;
        width: 40%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
    }
    
    .button h3{
        color: black;
        text-transform: capitalize;
    }
}


/* page6 */

 .page6 {
    /* border: 1px solid snow; */
    height: 60vh;
    width: 100%;
    background-color: black;

}

.page6 ol {
    /* border: 1px solid snow; */
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 60px;
}

ol li a:hover {
    color: palevioletred;
    transition: 0.5s;
}

ol li a {
    text-decoration: none;
    color: snow;
    list-style: none;
}

.page6 .play {
    /* border: 1px solid snow; */
    height: 12%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -230px;
    margin-left: 900px;
}

.play .one {
    border: 1px solid snow;
    height: 90%;
    width: 35%;
    background: url(../images/button1.png);
    background-size: cover;
    border-radius: 10px;
}

.page6 .play .one:hover {
    transform: scale(1.1);
    transition: 1s;
}

.play .two {
    border: 1px solid snow;
    height: 90%;
    width: 35%;
    background: url(../images/button2.png);
    background-size: cover;
    border-radius: 10px;
}

.page6 .play .two:hover {
    transform: scale(1.1);
    transition: 1s;
}

.page6 .social {
    /* border: 1px solid snow; */
    height: 8%;
    width: 20%;
    color: snow;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1000px;
    margin-top: 100px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(0, 0, 0, .4));
}

.social .fa-x-twitter:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(216, 112, 147);
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #03bcf4,
        0 0 40px #ffffff
}

.social .fa-instagram:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(216, 112, 147);
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #03bcf4,
        0 0 40px #ffffff
}

.social .fa-facebook-f:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(216, 112, 147);
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #03bcf4,
        0 0 40px #ffffff
}

.social .fa-threads:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(216, 112, 147);
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #03bcf4,
        0 0 40px #ffffff
} 

/* tab */

  @media all and (max-width:768px) {

    .page6 {
        /* border: 1px solid snow; */
        height: 50vh;
        width: 100%;
        background-color: black;

    }

    .page6 .play {
        /* border: 2px solid rgb(255, 255, 255); */
        height: 10%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 280px;
        margin-top: -310px;
    }

    
.play .one {
    border: 1px solid snow;
    height: 99%;
    width: 38%;
    background: url(../images/button1.png);
    background-size: cover;
    border-radius: 10px;
}


.play .two {
    border: 1px solid snow;
    height: 99%;
    width: 38%;
    background: url(../images/button2.png);
    background-size: cover;
    border-radius: 10px;
}
   
  
    .page6 .social {
        /* border: 1px solid rgb(255, 255, 255); */
        height: 7%;
        width: 40%;
        color: snow;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-left: 400px;
        -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(0, 0, 0, .4));
    }

} 

/* Mobile */
  @media all and (max-width:667px){
    .page6 {
        /* border: 1px solid snow; */
        height: 50vh;
        width: 100%;
        background-color: black;

    }

    .page6 ol {
        /* border: 1px solid snow; */
        height: 70%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 10px;
        font-size: 0.5rem;
    }

    .page6 .play {
        /* border: 2px solid rgb(66, 63, 63); */
        height: 11%;
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -200px;
        margin-left: 130px;
    }

    
.play .one {
    border: 1px solid snow;
    height: 70%;
    width: 40%;
    background: url(../images/button1.png);
    background-size: cover;
    border-radius: 5px;
}


.play .two {
    border: 1px solid snow;
    height: 70%;
    width: 40%;
    background: url(../images/button2.png);
    background-size: cover;
    border-radius: 5px;
}



    .page6 .social {
        /* border: 1px solid rgb(0, 0, 0); */
        height: 6%;
        width: 40%;
        color: snow;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(0, 0, 0, .4));
        margin-left: 180px;
    }

}    