@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

.page1 {
    /* border: 1px solid snow; */
    background-color: black;
    height: 40vh;
    width: 100%;
}

.page1 .nav {
    /* border: 1px solid snow; */
    height: 10%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: +999;
}

.nav .logo {
    /* border: 1px solid red; */
    height: 100%;
    width: 5%;
    background: url(../images/1logo.png) no-repeat;
    background-size: cover;
}

.nav ul {
    /* border: 1px solid snow; */
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav ul span {
    color: palevioletred;
}

.nav ul li a {
    text-decoration: none;
    color: snow;
}

ul li a:hover {
    color: palevioletred;
    transition: 0.5s;

}

.nav .icon {
    /* border: 1px solid gold; */
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    color: snow;
    font-size: 1.5rem;
}

.icon .bar{
    visibility: hidden;
}

.search:hover {
    color: palevioletred;
    transition: 0.5s;
}

.user:hover {
    color: palevioletred;
    transition: 0.5s;
}

.bar:hover {
    color: palevioletred;
    transition: 0.5s;
}

.page1 .container1{
    height: 100%;
    width: 100%;
    background: url(https://static.vecteezy.com/system/resources/thumbnails/053/540/237/small_2x/colorful-lights-illuminate-a-lively-concert-atmosphere-with-an-excited-crowd-celebrating-music-and-energy-in-an-urban-venue-photo.jpeg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 .box{
    /* border: 1px solid red; */
    height: 30%;
    width: 30%;
    border-radius: 15px;
    margin-top: 70px;
    background-color: rgb(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box h2{
    color: snow;
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* tab */

@media all and (max-width:768px) {
    .page1 {
        width: 100%;
        height: 20vh;
    }

    .page1 .nav {
        /* border: 1px solid snow; */
        height: 6%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        z-index: +999;
    }

    .nav .logo {
        /* border: 1px solid snow; */
        height: 100%;
        width: 7%;
        margin-top: -8px;
    }

    .nav ul {
        /* border: 1px solid snow; */
        width: 70%;
    }

    .nav .icon {
        /* border: 1px solid snow; */
        width: 15%;
    }

    .container1 .box{
        /* border: 1px solid ; */
        height: 30%;
        width: 40%;
        border-radius: 10px;
        margin-top: 70px;
        background-color: rgb(0, 0, 0, .3);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .box h2{
        color: snow;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}

/* Mobile */
@media all and (max-width:667px){
    .page1 {
        width: 100%;
        height: 20vh;
    }

    .page1 .nav {
        /* border: 1px solid snow; */
        height: 6%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        z-index: +999;
    }

    .nav .logo {
        /* border: 1px solid snow; */
        height: 90%;
        width: 10%;
        margin-top: -8px;
    }

    .nav ul {
        /* border: 1px solid snow; */
        width: 60%;
        font-size: 0.8rem;
        visibility: hidden;
    }

    .nav .icon {
        /* border: 1px solid snow; */
        width: 25%;
        font-size: 0.8rem;
        visibility: hidden;
    }

    .icon .bar{
        visibility: visible;
    }

    .container1 .box{
        /* border: 1px solid ; */
        height: 30%;
        width: 40%;
        border-radius: 15px;
        margin-top: 30px;
        background-color: rgb(0, 0, 0, .3);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .box h2{
        color: snow;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}


/* .page2 */

.page2{
    /* border: 2px solid rgb(255, 255, 255); */
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.page2 .boxs{
    /* border: 1px solid snow; */
    height: 23%;
    width: 80%;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.page2 .boxs:hover{
    border: 1px solid snow;
    transform: scale(1.02);
    transition: 0.5s;
}



.box1 .left1{
    /* border: 1px solid snow; */
    height: 90%;
    margin-left: 10px;
    width: 25%;
    border-radius: 15px;
    background: url(https://i0.wp.com/www.smartprix.com/bytes/wp-content/uploads/2018/06/car.jpg?fit=1200%2C630&ssl=1);
    background-size: cover;
}

.box1 .right1{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right1 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right1 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right1 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.box2 .left2{
    /* border: 1px solid snow; */
    height: 90%;
    margin-left: 10px;
    width: 25%;
    border-radius: 15px;
    background: url(https://cdn.mos.cms.futurecdn.net/dsBRpJnTd34TAEYRgdJGgW-1200-80.jpg.webp);
    background-size: cover;
}

.box2 .right2{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right2 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right2 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right2 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}


.box3 .left3{
    /* border: 1px solid snow; */
    height: 90%;
    margin-left: 10px;
    width: 25%;
    border-radius: 15px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/09/best-multiplayer-games-space-marine-2-550x309.jpg);
    background-size: cover;
}

.box3 .right3{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right3 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right3 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right3 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}


.box4 .left4{
    /* border: 1px solid snow; */
    height: 90%;
    margin-left: 10px;
    width: 25%;
    border-radius: 15px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2018/09/Best-multiplayer-games-Counter-Strike-Global-Offensive-550x309.jpg);
    background-size: cover;
}

.box4 .right4{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right4 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right4 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right4 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

/* tab */

@media all and (max-width:768px){

    .page2 .boxs{
        /* border: 1px solid snow; */
        height: 20%;
        width: 90%;
        margin-top: 10px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }

.box1 .left1{
    /* border: 1px solid snow; */
    height: 90%;
    width: 30%;
    border-radius: 15px;
    background: url(https://i0.wp.com/www.smartprix.com/bytes/wp-content/uploads/2018/06/car.jpg?fit=1200%2C630&ssl=1);
    background-size: cover;
}

.box1 .right1{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right1 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right1 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right1 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.box2 .left2{
    /* border: 1px solid snow; */
    height: 90%;
    width: 30%;
    border-radius: 15px;
    background: url(https://cdn.mos.cms.futurecdn.net/dsBRpJnTd34TAEYRgdJGgW-1200-80.jpg.webp);
    background-size: cover;
}

.box2 .right2{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right2 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right2 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right2 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}


.box3 .left3{
    /* border: 1px solid snow; */
    height: 90%;
    width: 30%;
    border-radius: 15px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/09/best-multiplayer-games-space-marine-2-550x309.jpg);
    background-size: cover;
}

.box3 .right3{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right3 h2{
    font-size: 1rem;
    color: snow;
    margin-left: 20px;
}

.right3 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right3 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}


.box4 .left4{
    /* border: 1px solid snow; */
    height: 90%;
    width: 30%;
    border-radius: 15px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2018/09/Best-multiplayer-games-Counter-Strike-Global-Offensive-550x309.jpg);
    background-size: cover;
}

.box4 .right4{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    
}

.right4 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right4 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right4 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

}

/* Mobile */
@media all and (max-width:667px){

    .page2 .boxs{
        /* border: 1px solid snow; */
        height: 18%;
        width: 90%;
        margin-top: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    
.box1 .left1{
    /* border: 1px solid snow; */
    height:90%;
    width: 40%;
    border-radius: 8px;
    background: url(https://i0.wp.com/www.smartprix.com/bytes/wp-content/uploads/2018/06/car.jpg?fit=1200%2C630&ssl=1);
    background-size: cover;
}

.box1 .right1{
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 0.5rem;
}

.right1 h2{
    color: snow;
    font-size: 0.7rem;
    margin-left: 20px;
}

.right1 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right1 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.box2 .left2{
    /* border: 1px solid snow; */
    height: 90%;
    width: 40%;
    border-radius: 8px;
    background: url(https://cdn.mos.cms.futurecdn.net/dsBRpJnTd34TAEYRgdJGgW-1200-80.jpg.webp);
    background-size: cover;
}

.box2 .right2{
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 0.5rem;
}

.right2 h2{
    color: snow;
    font-size: 0.7rem;
    margin-left: 20px;
}

.right2 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right2 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}


.box3 .left3{
    /* border: 1px solid snow; */
    height: 90%;
    width: 40%;
    border-radius: 8px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/09/best-multiplayer-games-space-marine-2-550x309.jpg);
    background-size: cover;
}

.box3 .right3{
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 0.5rem;
}

.right3 h2{
    font-size: 0.7rem;
    color: snow;
    margin-left: 20px;
}

.right3 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right3 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}


.box4 .left4{
    /* border: 1px solid snow; */
    height: 90%;
    width: 40%;
    border-radius: 8px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2018/09/Best-multiplayer-games-Counter-Strike-Global-Offensive-550x309.jpg);
    background-size: cover;
}

.box4 .right4{
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 0.5rem;
    
}

.right4 h2{
    color: snow;
    font-size: 0.7rem;
    margin-left: 20px;
}

.right4 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right4 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

}




/* .page3 */

.page3{
    /* border: 2px solid rgb(255, 255, 255); */
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.page3 .boxs{
    /* border: 1px solid snow; */
    height: 23%;
    width: 80%;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.page3 .boxs:hover{
    border: 1px solid snow;
    transform: scale(1.02);
    transition: 0.5s;
}


.box5 .left5{
    /* border: 1px solid snow; */
    height: 90%;
    margin-left: 10px;
    width: 25%;
    border-radius: 15px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/07/best-multiplayer-games-forza-horizon-5-550x309.jpg);
    background-size: cover;
}

.box5 .right5{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right5 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right5 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right5 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}


.box6 .left6{
    /* border: 1px solid snow; */
    height: 90%;
    margin-left: 10px;
    width: 25%;
    border-radius: 15px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/10/best-multiplayer-games-call-of-duty-black-ops-6-550x309.jpg);
    background-size: cover;
}

.box6 .right6{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right6 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right6 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right6 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}


.box7 .left7{
    /* border: 1px solid snow; */
    height: 90%;
    margin-left: 10px;
    width: 25%;
    border-radius: 15px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/01/best-multiplayer-games-palworld-550x309.jpg);
    background-size: cover;
}

.box7 .right7{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right7 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right7 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right7 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}



.box8 .left8{
    /* border: 1px solid snow; */
    height: 90%;
    margin-left: 10px;
    width: 25%;
    border-radius: 15px;
    background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/02/best-multiplayer-games-helldivers-2-550x309.jpg);
    background-size: cover;
}

.box8 .right8{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}

.right8 h2{
    color: snow;
    font-size: 1rem;
    margin-left: 20px;
}

.right8 p{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

.right8 h5{
    color: snow;
    margin-left: 20px;
    /* font-size: 1rem; */
}

/* tab */

@media all and (max-width:768px){

    .page3 .boxs{
        /* border: 1px solid snow; */
        height: 20%;
        width: 90%;
        margin-top: 10px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }

    .box5 .left5{
        /* border: 1px solid snow; */
        height: 90%;
        width: 30%;
        border-radius: 15px;
        background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/07/best-multiplayer-games-forza-horizon-5-550x309.jpg);
        background-size: cover;
    }

    .box6 .left6{
        /* border: 1px solid snow; */
        height: 90%;
        width: 30%;
        border-radius: 15px;
        background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/10/best-multiplayer-games-call-of-duty-black-ops-6-550x309.jpg);
        background-size: cover;
    }

    .box7 .left7{
        /* border: 1px solid snow; */
        height: 90%;
        width: 30%;
        border-radius: 15px;
        background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/01/best-multiplayer-games-palworld-550x309.jpg);
        background-size: cover;
    }

    .box8 .left8{
        /* border: 1px solid snow; */
        height: 90%;
        width: 30%;
        border-radius: 15px;
        background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/02/best-multiplayer-games-helldivers-2-550x309.jpg);
        background-size: cover;
    }
}


/* Mobile */
@media all and (max-width:667px){

    .page3 .boxs{
        /* border: 1px solid snow; */
        height: 18%;
        width: 90%;
        margin-top: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    
    .box5 .left5{
        /* border: 1px solid snow; */
        height: 90%;
        width: 40%;
        border-radius: 8px;
        background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/07/best-multiplayer-games-forza-horizon-5-550x309.jpg);
        background-size: cover;
    }
    
.box5 .right5{
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 0.5rem;
}

.right5 h2{
    color: snow;
    font-size: 0.7rem;
    margin-left: 20px;
}

    .box6 .left6{
        /* border: 1px solid snow; */
        height: 90%;
        width: 40%;
        border-radius: 8px;
        background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/10/best-multiplayer-games-call-of-duty-black-ops-6-550x309.jpg);
        background-size: cover;
    }

    
.box6 .right6{
    /* border: 1px solid red; */
    height: 90%;
    width: 59%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 0.5rem;
}

.right6 h2{
    color: snow;
    font-size: 0.7rem;
    margin-left: 20px;
}

    .box7 .left7{
        /* border: 1px solid snow; */
        height: 90%;
        width: 40%;
        border-radius: 8px;
        background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/01/best-multiplayer-games-palworld-550x309.jpg);
        background-size: cover;
    }
    
.box7 .right7{
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 0.5rem;
}

.right7 h2{
    color: snow;
    font-size: 0.7rem;
    margin-left: 20px;
}

    .box8 .left8{
        /* border: 1px solid snow; */
        height: 90%;
        width: 40%;
        border-radius: 8px;
        background: url(https://www.pcgamesn.com/wp-content/sites/pcgamesn/2024/02/best-multiplayer-games-helldivers-2-550x309.jpg);
        background-size: cover;
    }

    
.box8 .right8{
    /* border: 1px solid red; */
    height: 100%;
    width: 60%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 0.5rem;
}

.right8 h2{
    color: snow;
    font-size: 0.7rem;
    margin-left: 20px;
}
}

/* page4 */

.page4 {
    /* border: 1px solid snow; */
    height: 60vh;
    width: 100%;
    background-color: black;

}

.page4 ol {
    /* border: 1px solid snow; */
    height: 70%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 60px;
}

ol li a:hover {
    color: palevioletred;
    transition: 0.5s;
}

ol li a {
    text-decoration: none;
    color: snow;
    list-style: none;
}

.page4 .play {
    /* border: 1px solid snow; */
    height: 12%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -230px;
    margin-left: 900px;
}

.play .one {
    border: 1px solid snow;
    height: 90%;
    width: 35%;
    background: url(../images/button1.png );
    background-size: cover;
    border-radius: 10px;
}

.page4 .play .one:hover {
    transform: scale(1.1);
    transition: 1s;
}

.play .two {
    border: 1px solid snow;
    height: 90%;
    width: 35%;
    background: url(../images/button2.png);
    background-size: cover;
    border-radius: 10px;
}

.page4 .play .two:hover {
    transform: scale(1.1);
    transition: 1s;
}

.page4 .social {
    /* border: 1px solid snow; */
    height: 8%;
    width: 20%;
    color: snow;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 1000px;
    margin-top: 100px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(0, 0, 0, .4));
}

.social .fa-x-twitter:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(216, 112, 147);
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #03bcf4,
        0 0 40px #ffffff
}

.social .fa-instagram:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(216, 112, 147);
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #03bcf4,
        0 0 40px #ffffff
}

.social .fa-facebook-f:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(216, 112, 147);
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #03bcf4,
        0 0 40px #ffffff
}

.social .fa-threads:hover {
    transform: scale(1.1);
    transition: 0.5s;
    color: rgb(216, 112, 147);
    text-shadow: 0 0 10px #ffffff,
        0 0 20px #03bcf4,
        0 0 40px #ffffff
}

/* tab */

@media all and (max-width:768px) {

    .page4 {
        /* border: 1px solid snow; */
        height: 50vh;
        width: 100%;
        background-color: black;

    }

    .page4 .play {
        /* border: 2px solid rgb(255, 255, 255); */
        height: 10%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 280px;
        margin-top: -310px;
    }

    
.play .one {
    border: 1px solid snow;
    height: 99%;
    width: 38%;
    background: url(../images/button1.png);
    background-size: cover;
    border-radius: 10px;
}


.play .two {
    border: 1px solid snow;
    height: 99%;
    width: 38%;
    background: url(../images/button2.png);
    background-size: cover;
    border-radius: 10px;
}
   
  
    .page4 .social {
        /* border: 1px solid rgb(255, 255, 255); */
        height: 7%;
        width: 40%;
        color: snow;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-left: 400px;
        -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(0, 0, 0, .4));
    }

}

/* Mobile */
@media all and (max-width:667px){
    .page4 {
        /* border: 1px solid snow; */
        height: 50vh;
        width: 100%;
        background-color: black;

    }

    .page4 ol {
        /* border: 1px solid snow; */
        height: 70%;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 10px;
        font-size: 0.5rem;
    }

    .page4 .play {
        /* border: 2px solid rgb(66, 63, 63); */
        height: 11%;
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -200px;
        margin-left: 130px;
    }

    
.play .one {
    border: 1px solid snow;
    height: 70%;
    width: 40%;
    background: url(../images/button1.png);
    background-size: cover;
    border-radius: 5px;
}


.play .two {
    border: 1px solid snow;
    height: 70%;
    width: 40%;
    background: url(../images/button2.png);
    background-size: cover;
    border-radius: 5px;
}



    .page4 .social {
        /* border: 1px solid rgb(0, 0, 0); */
        height: 6%;
        width: 40%;
        color: snow;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        -webkit-box-reflect: below 1px linear-gradient(transparent, rgb(0, 0, 0, .4));
        margin-left: 180px;
    }

}